In [40]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

## Note: All data within this notebook was gathered from BrianDunning.com and is fake.

In [41]:
landlords = pd.read_csv('us-500.csv')

landlords = landlords.drop(columns = ['Unnamed: 7', 'company_name'])

In [42]:
landlords.first_name = landlords.first_name.str.lower()
landlords.last_name = landlords.last_name.str.lower()
landlords.address = landlords.address.str.lower()

landlords.head()

,first_name,last_name,address,zip,phone1,email
0,james,butt,6649 n blue gum st,70116,504-621-8927,jbutt@gmail.com
1,josephine,darakjy,4 b blue ridge blvd,48116,810-292-9388,josephine_darakjy@darakjy.org
2,art,venere,8 w cerritos ave #54,8014,856-636-8749,art@venere.org
3,lenna,paprocki,639 main st,99501,907-385-4412,lpaprocki@hotmail.com
4,donette,foller,34 center st,45011,513-570-1893,donette.foller@cox.net

In [68]:
tenants = landlords.copy()

tenants = landlords.sample(frac = .5)
tenants = tenants.drop(columns = ['phone1', 'email'])

In [69]:
tenants.head()

    first_name last_name                address    zip
459    cecilia  colaizzo     4 nw 12th st #3849  53717
253      heike  berganza      3 railway ave #75   7424
258    martina   staback  7 w wabansia ave #227  32822
18        yuki   whobrey       1 state route 27  48180
202     ashlyn   pinilla         703 beville rd  33054

first_name
last_name

In [70]:
matches = pd.DataFrame()